.heroContainer {
    height: auto;
    width: 100%;
    background-position: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    img {
        height: auto;
        width: 100%;
    }
}