@import "../../assets/scss/mixins";

.navBarContainer {
  @include pagePadding;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  gap: .7em;
  align-items: center;
  height: 2.5em;
  width: 100%;
  background: linear-gradient(to top, transparent, var(--black));
  transition: .6s;
  a {
    height: 50%;
    svg {
      height: 100%;
      width: auto;
    }
  }
  
}
.isScrolled {
  background-color: var(--black);
}
